[submodule "thirdparty/SEAL"]
	path = thirdparty/SEAL
	url = git@github.com:microsoft/SEAL.git
[submodule "thirdparty/phantom-fhe"]
	path = thirdparty/phantom-fhe
	url = git@github.com:encryptorion-lab/phantom-fhe.git
